$width: 300px;
$height: 250px;

@import '../../css/base.css';

/* setup */
$width: 300px;
$height: 250px;

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: none;
}
body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


/* Banner Styles */
#banner {
  position: relative;
  width: $width;
  height: $height;
  border: solid 1px #000;
  overflow: hidden;
  background-color: #fff;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%,-50%);

  #div_main {
    position: absolute;
    width: 100%;
    height: 100%;

    div,
    img,
    object {
      position: absolute;
    }

    #blackBg {
      width: 100%;
      height: 100%;
      background: #000;
    }

    #bgGround {
      bottom: 0px;
    }

    #carShadow {
      top: 137px;
      left: 121px;
    }

    #carWrapper {
      width: 369px;
      height: 133px;
      left: 107px;
      top: 70px;

      #carLeftTire {
        left: 54px;
        bottom: 36px;
      }

      #carRightTire {
        left: 253px;
        bottom: 38px;
      }

      #carLights {
        top: 47px;
        left: 19px;
        opacity: 0;
      }
    }

    #smokeWrapper {
      width: 100%;
      height: 100%;
    }

    #heroesBack {
      left: 160px;
      top: 34px;
    }

    #heroesFront {
      left: 201px;
      top: 29px;
    }

    #mainCopy {
      top: 75px;
      left: 20px;
    }

    #logo {
      top: 15px;
      left: 15px;
    }

    #logoSVGWrapper {
      top: 97px;
      left: 44px;

      #logoSVG {
        width: 214px;
        overflow: visible;
        will-change: transform !important;
      }
    }

    #amazonLogo {
      top: 170px;
      left: 20px;
    }

    #monkeyWrapper {
      width: 196px;
      height: 222px;
      top: 84px;
      left: 62px;
      will-change: transform !important;

      #monkeyMapWrapper {
        width: 100%;
        height: 100%;
        will-change: transform !important;

        #monkeyMap {
          top: 63px;
          left: 0px;
          will-change: transform !important;
        }

        #monkeyLeftHand {
          top: 113px;
          left: 0px;
          will-change: transform !important;
        }

        #monkeyRightHand {
          top: 104px;
          right: 29px;
          will-change: transform !important;
        }
      }

      #monkeyHead {
        top: 10px;
        left: 58px;
        will-change: transform !important;
      }

      #monkeyHead2 {
        top: 7px;
        left: 57px;
        opacity: 0;
        will-change: transform !important;
      }

      #monkeyHead3 {
        top: 7px;
        left: 58px;
        opacity: 0;
        will-change: transform !important;
      }

      #monkeyEyes {
        top: 28px;
        left: 77px;
        opacity: 0;
        will-change: transform !important;
      }
    }

    #ctaTrailer,
    #cta {
      width: 120px;
      height: 30px;
      left: 20px;
      top: 200px;

      .cta1 {
        clip: rect(0px, 170px, 7px, 0px);
      }
      .cta2 {
        clip: rect(6px, 170px, 13px, 0px);
      }
      .cta3 {
        clip: rect(12px, 170px, 19px, 0px);
      }
      .cta4 {
        clip: rect(18px, 170px, 25px, 0px);
      }
      .cta5 {
        clip: rect(24px, 170px, 30px, 0px);
      }
    }

    #trailerBtnWrapper {
      width: 25px;
      height: 50px;
      top: 10px;
      cursor: pointer;
    }

    #trailerThumbWrapper {
      top: -1px;
      left: -1px;
      cursor: pointer;

      #replayBtn {
        top: 48px;
        left: 113px;
      }
    }

    .closeVideoFrame {
      position: absolute;
      left: auto;
      right: 7px;
      top: 10px;
      cursor: pointer;
    }

    #trailer {
      top: 0px;
      left: 0px;

      .close {
        left: auto;
        right: 10px;
      }

      .timer {
        position: relative;
      }
    }
  }

  .bannerClick {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
  }
}
